{
  "openapi": "3.0.3",
  "info": {
    "title": "Authlete API",
    "description": "Welcome to the **Authlete API documentation**. Authlete is an **API-first service** where every aspect of the \nplatform is configurable via API. This documentation will help you authenticate and integrate with Authlete to \nbuild powerful OAuth 2.0 and OpenID Connect servers.\n\nAt a high level, the Authlete API is grouped into two categories:\n\n- **Management APIs**: Enable you to manage services and clients.\n- **Runtime APIs**: Allow you to build your own Authorization Servers or Verifiable Credential (VC) issuers.\n\n## 🌐 API Servers\n\nAuthlete is a global service with clusters available in multiple regions across the world:\n\n- 🇺🇸 **US**: `https://us.authlete.com`\n- 🇯🇵 **Japan**: `https://jp.authlete.com`\n- 🇪🇺 **Europe**: `https://eu.authlete.com`\n- 🇧🇷 **Brazil**: `https://br.authlete.com`\n\nOur customers can host their data in the region that best meets their requirements.\n\n## 🔑 Authentication\n\nAll API endpoints are secured using **Bearer token authentication**. You must include an access token in every request:\n\n```\nAuthorization: Bearer YOUR_ACCESS_TOKEN\n```\n\n### Getting Your Access Token\n\nAuthlete supports two types of access tokens:\n\n**Service Access Token** - Scoped to a single service (authorization server instance)\n\n1. Log in to [Authlete Console](https://console.authlete.com)\n2. Navigate to your service → **Settings** → **Access Tokens**\n3. Click **Create Token** and select permissions (e.g., `service.read`, `client.write`)\n4. Copy the generated token\n\n**Organization Token** - Scoped to your entire organization\n\n1. Log in to [Authlete Console](https://console.authlete.com)\n2. Navigate to **Organization Settings** → **Access Tokens**\n3. Click **Create Token** and select org-level permissions\n4. Copy the generated token\n\n> ⚠️ **Important Note**: Tokens inherit the permissions of the account that creates them. Service tokens can only \n> access their specific service, while organization tokens can access all services within your org.\n\n### Token Security Best Practices\n\n- **Never commit tokens to version control** - Store in environment variables or secure secret managers\n- **Rotate regularly** - Generate new tokens periodically and revoke old ones\n- **Scope appropriately** - Request only the permissions your application needs\n- **Revoke unused tokens** - Delete tokens you're no longer using from the console\n\n### Quick Test\n\nVerify your token works with a simple API call:\n\n```bash\ncurl -X GET https://us.authlete.com/api/service/get/list \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\"\n```\n\n## 🎓 Tutorials\n\nIf you're new to Authlete or want to see sample implementations, these resources will help you get started:\n\n- [Getting Started with Authlete](https://www.authlete.com/developers/getting_started/)\n- [From Sign-Up to the First API Request](https://www.authlete.com/developers/tutorial/signup/)\n\n## 🛠 Contact Us\n\nIf you have any questions or need assistance, our team is here to help:\n\n- [Contact Page](https://www.authlete.com/contact/)\n",
    "version": "3.0.16",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "description": "🇺🇸 US Cluster",
      "url": "https://us.authlete.com"
    },
    {
      "description": "🇯🇵 Japan Cluster",
      "url": "https://jp.authlete.com"
    },
    {
      "description": "🇪🇺 Europe Cluster",
      "url": "https://eu.authlete.com"
    },
    {
      "description": "🇧🇷 Brazil Cluster",
      "url": "https://br.authlete.com"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "Service Management",
      "description": "API endpoints for managing services, including creation, update, and deletion of services.",
      "x-tag-expanded": false
    },
    {
      "name": "Client Management",
      "description": "API endpoints for managing OAuth clients, including creation, update, and deletion of clients.",
      "x-tag-expanded": false
    },
    {
      "name": "Authorization Endpoint",
      "description": "API endpoints for implementing OAuth 2.0 Authorization Endpoint.",
      "x-tag-expanded": false
    },
    {
      "name": "Pushed Authorization Endpoint",
      "description": "API endpoints for implementing OAuth 2.0 Pushed Authorization Requests (PAR).",
      "x-tag-expanded": false
    },
    {
      "name": "Token Endpoint",
      "description": "API endpoints for implementing OAuth 2.0 Token Endpoint.",
      "x-tag-expanded": false
    },
    {
      "name": "Token Operations",
      "description": "API endpoints for various token related operations, including creating, revoking and deleting access_tokens with specified scopes.",
      "x-tag-expanded": false
    },
    {
      "name": "Introspection Endpoint",
      "description": "API endpoints for implementing OAuth 2.0 Introspection Endpoint.",
      "x-tag-expanded": false
    },
    {
      "name": "Revocation Endpoint",
      "description": "API endpoint for implementing OAuth 2.0 Revocation Endpoint.",
      "x-tag-expanded": false
    },
    {
      "name": "UserInfo Endpoint",
      "description": "API endpoints for implementing OpenID Connect UserInfo Endpoint.",
      "x-tag-expanded": false
    },
    {
      "name": "JWK Set Endpoint",
      "description": "API endpoints for to generate JSON Web Key Set (JWKS) for a service.",
      "x-tag-expanded": false
    },
    {
      "name": "Discovery Endpoint",
      "description": "API endpoints for implementing OpenID Connect Discovery.",
      "x-tag-expanded": false
    },
    {
      "name": "Configuration Endpoint",
      "description": "API endpoint for accessing configuration settings for a service.",
      "x-tag-expanded": false
    },
    {
      "name": "Dynamic Client Registration",
      "description": "API endpoints for implementing OAuth 2.0 Dynamic Client Registration.",
      "x-tag-expanded": false
    },
    {
      "name": "CIBA",
      "description": "API endpoints for implementing Client-Initiated Backchannel Authentication (CIBA).",
      "x-tag-expanded": false
    },
    {
      "name": "Grant Management Endpoint",
      "description": "API endpoint for implementing OAuth 2.0 grants, including grant management actions like updating and revoking grants.",
      "x-tag-expanded": false
    },
    {
      "name": "Jose Object",
      "description": "API endpoints for JOSE objects.",
      "x-tag-expanded": false
    },
    {
      "name": "Device Flow",
      "description": "API endpoints for implementing OAuth 2.0 Device Flow",
      "x-tag-expanded": false
    },
    {
      "name": "Federation Endpoint",
      "description": "API endpoints for implementing OpenID Federation using Authlete.",
      "x-tag-expanded": false
    },
    {
      "name": "Verifiable Credential Issuer",
      "description": "API endpoints for implementing and running a Verifiable Credential Issuer (VCI).",
      "x-tag-expanded": false
    },
    {
      "name": "Hardware Security Key",
      "description": "API endpoints for managing hardware security keys (HSK).",
      "x-tag-expanded": false
    },
    {
      "name": "Utility Endpoints",
      "description": "API endpoints for various utility operations.",
      "x-tag-expanded": false
    },
    {
      "name": "Native SSO",
      "description": "API endpoints for Native SSO",
      "x-tag-expanded": false
    },
    {
      "name": "Audit Logs",
      "description": "API endpoints for retrieving audit logs, hosted on the Authlete IdP server.",
      "x-tag-expanded": false
    }
  ],
  "paths": {
    "/api/{serviceId}/service/get": {
      "get": {
        "summary": "Get Service",
        "description": "Get a service.\n\nIf the access token can only view or modify clients underneath this service, but does not\nhave access to view this service directly, a limited view of the service will be returned.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service"
                },
                "examples": {
                  "full": {
                    "summary": "Example showing the full service object.",
                    "value": {
                      "accessTokenDuration": 3600,
                      "accessTokenType": "Bearer",
                      "allowableClockSkew": 0,
                      "apiKey": 21653835348762,
                      "attributes": [
                        {
                          "key": "attribute1-key",
                          "value": "attribute1-value"
                        },
                        {
                          "key": "attribute2-key",
                          "value": "attribute2-value"
                        }
                      ],
                      "authorizationEndpoint": "https://my-service.example.com/authz",
                      "authorizationResponseDuration": 0,
                      "authorizationCodeDuration": 0,
                      "backchannelAuthReqIdDuration": 0,
                      "backchannelBindingMessageRequiredInFapi": false,
                      "backchannelPollingInterval": 0,
                      "backchannelUserCodeParameterSupported": false,
                      "claimShortcutRestrictive": false,
                      "clientIdAliasEnabled": true,
                      "clientsPerDeveloper": 0,
                      "createdAt": 1639373421000,
                      "dcrScopeUsedAsRequestable": false,
                      "deviceFlowCodeDuration": 0,
                      "deviceFlowPollingInterval": 0,
                      "directAuthorizationEndpointEnabled": false,
                      "directIntrospectionEndpointEnabled": false,
                      "directJwksEndpointEnabled": false,
                      "directRevocationEndpointEnabled": false,
                      "directTokenEndpointEnabled": false,
                      "directUserInfoEndpointEnabled": false,
                      "dynamicRegistrationSupported": false,
                      "errorDescriptionOmitted": false,
                      "errorUriOmitted": false,
                      "frontChannelRequestObjectEncryptionRequired": false,
                      "grantManagementActionRequired": false,
                      "hsmEnabled": false,
                      "idTokenDuration": 0,
                      "introspectionEndpoint": "https://my-service.example.com/introspection",
                      "issSuppressed": false,
                      "issuer": "https://my-service.example.com",
                      "metadata": [
                        {
                          "key": "clientCount",
                          "value": "1"
                        }
                      ],
                      "missingClientIdAllowed": false,
                      "modifiedAt": 1639373421000,
                      "mutualTlsValidatePkiCertChain": false,
                      "nbfOptional": false,
                      "number": 5041,
                      "parRequired": false,
                      "pkceRequired": true,
                      "pkceS256Required": false,
                      "pushedAuthReqDuration": 0,
                      "refreshTokenDuration": 3600,
                      "refreshTokenDurationKept": false,
                      "refreshTokenDurationReset": false,
                      "refreshTokenKept": false,
                      "requestObjectEncryptionAlgMatchRequired": false,
                      "requestObjectEncryptionEncMatchRequired": false,
                      "requestObjectRequired": false,
                      "revocationEndpoint": "https://my-service.example.com/revocation",
                      "scopeRequired": false,
                      "serviceName": "My service",
                      "serviceOwnerNumber": 2,
                      "singleAccessTokenPerSubject": false,
                      "supportedClaimTypes": [
                        "NORMAL"
                      ],
                      "supportedDisplays": [
                        "PAGE"
                      ],
                      "supportedGrantTypes": [
                        "AUTHORIZATION_CODE",
                        "REFRESH_TOKEN"
                      ],
                      "supportedIntrospectionAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "supportedResponseTypes": [
                        "CODE"
                      ],
                      "supportedRevocationAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "supportedScopes": [
                        {
                          "defaultEntry": false,
                          "description": "A permission to read your history.",
                          "name": "history.read"
                        },
                        {
                          "defaultEntry": false,
                          "description": "A permission to read your timeline.",
                          "name": "timeline.read"
                        }
                      ],
                      "supportedTokenAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "tlsClientCertificateBoundAccessTokens": false,
                      "tokenEndpoint": "https://my-service.example.com/token",
                      "tokenExpirationLinked": false,
                      "traditionalRequestObjectProcessingApplied": false,
                      "unauthorizedOnClientConfigSupported": false,
                      "userCodeLength": 0
                    }
                  },
                  "limited": {
                    "summary": "Example showing the limited service object.",
                    "value": {
                      "apiKey": 21653835348762,
                      "description": "This Service.",
                      "number": 5041,
                      "serviceName": "My service"
                    }
                  }
                }
              }
            },
            "links": {
              "service_get_list": {
                "$ref": "#/components/links/service_get_list"
              },
              "service_update": {
                "$ref": "#/components/links/service_update"
              },
              "service_delete": {
                "$ref": "#/components/links/service_delete"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "service_get_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/service/get \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong serviceId = ...;\n\napi.getService(serviceId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nserviceId = ...\n\napi.getService(serviceId)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/service/get/list": {
      "get": {
        "summary": "List Services",
        "description": "Get a list of services.\n\nIf the access token can only view or modify clients underneath a service, but does not\nhave access to view that service directly, a limited view of the service will be returned.\nOtherwise, all properties of the service are returned.\n\nIf the access token is an administrative token, this returns a list of all services on the Authlete instance.\nOtherwise, all services that the access token can view, even in a limited fashion, are returned.\n",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "Start index (inclusive) of the result set. The default value is 0. Must not be a negative number."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "End index (exclusive) of the result set. The default value is 5. Must not be a negative number."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service_get_list_response"
                },
                "examples": {
                  "full": {
                    "summary": "Example showing the full service view.",
                    "value": {
                      "start": 0,
                      "end": 5,
                      "totalCount": 1,
                      "services": [
                        {
                          "accessTokenDuration": 3600,
                          "accessTokenType": "Bearer",
                          "allowableClockSkew": 0,
                          "apiKey": 21653835348762,
                          "apiSecret": "uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls",
                          "attributes": [
                            {
                              "key": "attribute1-key",
                              "value": "attribute1-value"
                            },
                            {
                              "key": "attribute2-key",
                              "value": "attribute2-value"
                            }
                          ],
                          "authorizationEndpoint": "https://as.example.com/authz",
                          "authorizationResponseDuration": 0,
                          "authorizationCodeDuration": 0,
                          "backchannelAuthReqIdDuration": 0,
                          "backchannelBindingMessageRequiredInFapi": false,
                          "backchannelPollingInterval": 0,
                          "backchannelUserCodeParameterSupported": false,
                          "claimShortcutRestrictive": false,
                          "clientIdAliasEnabled": true,
                          "createdAt": 1639373421000,
                          "dcrScopeUsedAsRequestable": false,
                          "deviceFlowCodeDuration": 0,
                          "deviceFlowPollingInterval": 0,
                          "directAuthorizationEndpointEnabled": false,
                          "directIntrospectionEndpointEnabled": false,
                          "directJwksEndpointEnabled": false,
                          "directRevocationEndpointEnabled": false,
                          "directTokenEndpointEnabled": false,
                          "directUserInfoEndpointEnabled": false,
                          "dynamicRegistrationSupported": false,
                          "errorDescriptionOmitted": false,
                          "errorUriOmitted": false,
                          "frontChannelRequestObjectEncryptionRequired": false,
                          "grantManagementActionRequired": false,
                          "hsmEnabled": false,
                          "idTokenDuration": 0,
                          "introspectionEndpoint": "https://my-service.example.com/introspection",
                          "issSuppressed": false,
                          "issuer": "https://my-service.example.com",
                          "metadata": [
                            {
                              "key": "clientCount",
                              "value": "1"
                            }
                          ],
                          "missingClientIdAllowed": false,
                          "modifiedAt": 1639373421000,
                          "mutualTlsValidatePkiCertChain": false,
                          "nbfOptional": false,
                          "number": 5041,
                          "parRequired": false,
                          "pkceRequired": true,
                          "pkceS256Required": false,
                          "pushedAuthReqDuration": 0,
                          "refreshTokenDuration": 3600,
                          "refreshTokenDurationKept": false,
                          "refreshTokenDurationReset": false,
                          "refreshTokenKept": false,
                          "requestObjectEncryptionAlgMatchRequired": false,
                          "requestObjectEncryptionEncMatchRequired": false,
                          "requestObjectRequired": false,
                          "revocationEndpoint": "https://my-service.example.com/revocation",
                          "scopeRequired": false,
                          "serviceName": "My service",
                          "serviceOwnerNumber": 2,
                          "singleAccessTokenPerSubject": false,
                          "supportedClaimTypes": [
                            "NORMAL"
                          ],
                          "supportedDisplays": [
                            "PAGE"
                          ],
                          "supportedGrantTypes": [
                            "AUTHORIZATION_CODE",
                            "REFRESH_TOKEN"
                          ],
                          "supportedIntrospectionAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "supportedResponseTypes": [
                            "CODE"
                          ],
                          "supportedRevocationAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "supportedScopes": [
                            {
                              "defaultEntry": false,
                              "description": "A permission to read your history.",
                              "name": "history.read"
                            },
                            {
                              "defaultEntry": false,
                              "description": "A permission to read your timeline.",
                              "name": "timeline.read"
                            }
                          ],
                          "supportedTokenAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "tlsClientCertificateBoundAccessTokens": false,
                          "tokenEndpoint": "https://my-service.example.com/token",
                          "tokenExpirationLinked": false,
                          "traditionalRequestObjectProcessingApplied": false,
                          "unauthorizedOnClientConfigSupported": false,
                          "userCodeLength": 0
                        }
                      ]
                    }
                  },
                  "limited": {
                    "summary": "Example showing the limited service view.",
                    "value": {
                      "start": 0,
                      "end": 5,
                      "totalCount": 1,
                      "services": [
                        {
                          "apiKey": 21653835348762,
                          "clientIdAliasEnabled": true,
                          "number": 5041,
                          "serviceName": "My service"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "links": {
              "service_create": {
                "$ref": "#/components/links/service_create"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "service_get_list_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/9503564192/service/get/list?start=0\\&end=5 \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nint start = 0;\nint end = 5;\n\napi.getServiceList(start, end);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nstart = 0\nend = 5\n\napi.getServiceList(start, end)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/service/create": {
      "post": {
        "summary": "Create Service",
        "description": "Create a new service.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/service"
              },
              "example": {
                "serviceName": "My service",
                "issuer": "https://my-service.example.com",
                "clientIdAliasEnabled": true,
                "supportedGrantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "supportedResponseTypes": [
                  "CODE"
                ],
                "authorizationEndpoint": "https://my-service.example.com/authz",
                "pkceRequired": true,
                "tokenEndpoint": "https://my-service.example.com/token",
                "supportedTokenAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "revocationEndpoint": "https://my-service.example.com/revocation",
                "supportedRevocationAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "introspectionEndpoint": "https://my-service.example.com/introspection",
                "supportedIntrospectionAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "accessTokenType": "Bearer",
                "accessTokenDuration": 3600,
                "refreshTokenDuration": 3600,
                "supportedScopes": [
                  {
                    "name": "timeline.read",
                    "defaultEntry": false,
                    "description": "A permission to read your timeline."
                  },
                  {
                    "name": "history.read",
                    "defaultEntry": false,
                    "description": "A permission to read your history."
                  }
                ],
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/service"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service created successfully (legacy compatibility)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service"
                },
                "example": {
                  "accessTokenDuration": 3600
                }
              }
            }
          },
          "201": {
            "description": "Service created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service"
                },
                "example": {
                  "accessTokenDuration": 3600,
                  "accessTokenType": "Bearer",
                  "allowableClockSkew": 0,
                  "apiKey": 21653835348762,
                  "apiSecret": "uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authorizationEndpoint": "https://my-service.example.com/authz",
                  "authorizationResponseDuration": 0,
                  "authorizationCodeDuration": 0,
                  "backchannelAuthReqIdDuration": 0,
                  "backchannelBindingMessageRequiredInFapi": false,
                  "backchannelPollingInterval": 0,
                  "backchannelUserCodeParameterSupported": false,
                  "claimShortcutRestrictive": false,
                  "clientIdAliasEnabled": true,
                  "clientsPerDeveloper": 0,
                  "createdAt": 1639373421000,
                  "dcrScopeUsedAsRequestable": false,
                  "deviceFlowCodeDuration": 0,
                  "deviceFlowPollingInterval": 0,
                  "directAuthorizationEndpointEnabled": false,
                  "directIntrospectionEndpointEnabled": false,
                  "directJwksEndpointEnabled": false,
                  "directRevocationEndpointEnabled": false,
                  "directTokenEndpointEnabled": false,
                  "directUserInfoEndpointEnabled": false,
                  "dynamicRegistrationSupported": false,
                  "errorDescriptionOmitted": false,
                  "errorUriOmitted": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantManagementActionRequired": false,
                  "hsmEnabled": false,
                  "idTokenDuration": 0,
                  "introspectionEndpoint": "https://my-service.example.com/introspection",
                  "issSuppressed": false,
                  "issuer": "https://my-service.example.com",
                  "metadata": [
                    {
                      "key": "clientCount",
                      "value": "0"
                    }
                  ],
                  "missingClientIdAllowed": false,
                  "modifiedAt": 1639373421000,
                  "mutualTlsValidatePkiCertChain": false,
                  "nbfOptional": false,
                  "number": 5041,
                  "parRequired": false,
                  "pkceRequired": true,
                  "pkceS256Required": false,
                  "pushedAuthReqDuration": 0,
                  "refreshTokenDuration": 3600,
                  "refreshTokenDurationKept": false,
                  "refreshTokenDurationReset": false,
                  "refreshTokenKept": false,
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "revocationEndpoint": "https://my-service.example.com/revocation",
                  "scopeRequired": false,
                  "serviceName": "My service",
                  "serviceOwnerNumber": 2,
                  "singleAccessTokenPerSubject": false,
                  "supportedClaimTypes": [
                    "NORMAL"
                  ],
                  "supportedDisplays": [
                    "PAGE"
                  ],
                  "supportedGrantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "supportedIntrospectionAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "supportedResponseTypes": [
                    "CODE"
                  ],
                  "supportedRevocationAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "supportedScopes": [
                    {
                      "defaultEntry": false,
                      "description": "A permission to read your history.",
                      "name": "history.read"
                    },
                    {
                      "defaultEntry": false,
                      "description": "A permission to read your timeline.",
                      "name": "timeline.read"
                    }
                  ],
                  "supportedTokenAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenEndpoint": "https://my-service.example.com/token",
                  "tokenExpirationLinked": false,
                  "traditionalRequestObjectProcessingApplied": false,
                  "unauthorizedOnClientConfigSupported": false,
                  "userCodeLength": 0
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "service_create_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/service/create \\\n-H 'Content-Type:application/json' \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"serviceName\": \"My Service\", ... }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nService service = new Service();\nservice.setServiceName(\"My Service\");\n...\n\napi.createService(service);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nservice = Service()\nservice.serviceName = 'My Service'\n...\n\napi.createService(service)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/{serviceId}/service/update": {
      "post": {
        "summary": "Update Service",
        "description": "Update a service.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/service"
              },
              "example": {
                "accessTokenDuration": 3600,
                "accessTokenType": "Bearer",
                "allowableClockSkew": 0,
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ],
                "authorizationEndpoint": "https://my-service.example.com/authz",
                "authorizationResponseDuration": 0,
                "authorizationCodeDuration": 0,
                "backchannelAuthReqIdDuration": 0,
                "backchannelBindingMessageRequiredInFapi": false,
                "backchannelPollingInterval": 0,
                "backchannelUserCodeParameterSupported": false,
                "claimShortcutRestrictive": false,
                "clientIdAliasEnabled": true,
                "clientsPerDeveloper": 0,
                "dcrScopeUsedAsRequestable": false,
                "deviceFlowCodeDuration": 0,
                "deviceFlowPollingInterval": 0,
                "directAuthorizationEndpointEnabled": false,
                "directIntrospectionEndpointEnabled": false,
                "directJwksEndpointEnabled": false,
                "directRevocationEndpointEnabled": false,
                "directTokenEndpointEnabled": false,
                "directUserInfoEndpointEnabled": false,
                "dynamicRegistrationSupported": false,
                "errorDescriptionOmitted": false,
                "errorUriOmitted": false,
                "frontChannelRequestObjectEncryptionRequired": false,
                "grantManagementActionRequired": false,
                "hsmEnabled": false,
                "idTokenDuration": 0,
                "introspectionEndpoint": "https://my-service.example.com/introspection",
                "issSuppressed": false,
                "issuer": "https://my-service.example.com",
                "missingClientIdAllowed": false,
                "mutualTlsValidatePkiCertChain": false,
                "nbfOptional": false,
                "parRequired": false,
                "pkceRequired": true,
                "pkceS256Required": false,
                "pushedAuthReqDuration": 0,
                "refreshTokenDuration": 3600,
                "refreshTokenDurationKept": false,
                "refreshTokenDurationReset": false,
                "refreshTokenKept": false,
                "requestObjectEncryptionAlgMatchRequired": false,
                "requestObjectEncryptionEncMatchRequired": false,
                "requestObjectRequired": false,
                "revocationEndpoint": "https://my-service.example.com/revocation",
                "scopeRequired": false,
                "serviceName": "My updated service",
                "singleAccessTokenPerSubject": false,
                "supportedClaimTypes": [
                  "NORMAL"
                ],
                "supportedDisplays": [
                  "PAGE"
                ],
                "supportedGrantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "supportedIntrospectionAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "supportedResponseTypes": [
                  "CODE"
                ],
                "supportedRevocationAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "supportedScopes": [
                  {
                    "defaultEntry": false,
                    "description": "A permission to read your history.",
                    "name": "history.read"
                  },
                  {
                    "defaultEntry": false,
                    "description": "A permission to read your timeline.",
                    "name": "timeline.read"
                  }
                ],
                "supportedTokenAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "tlsClientCertificateBoundAccessTokens": false,
                "tokenEndpoint": "https://my-service.example.com/token",
                "tokenExpirationLinked": false,
                "traditionalRequestObjectProcessingApplied": false,
                "unauthorizedOnClientConfigSupported": false,
                "userCodeLength": 0
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/service"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service"
                },
                "example": {
                  "accessTokenDuration": 3600,
                  "accessTokenType": "Bearer",
                  "allowableClockSkew": 0,
                  "apiKey": 21653835348762,
                  "apiSecret": "uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authorizationEndpoint": "https://my-service.example.com/authz",
                  "authorizationResponseDuration": 0,
                  "authorizationCodeDuration": 0,
                  "backchannelAuthReqIdDuration": 0,
                  "backchannelBindingMessageRequiredInFapi": false,
                  "backchannelPollingInterval": 0,
                  "backchannelUserCodeParameterSupported": false,
                  "claimShortcutRestrictive": false,
                  "clientIdAliasEnabled": true,
                  "clientsPerDeveloper": 0,
                  "createdAt": 1639373421000,
                  "dcrScopeUsedAsRequestable": false,
                  "deviceFlowCodeDuration": 0,
                  "deviceFlowPollingInterval": 0,
                  "directAuthorizationEndpointEnabled": false,
                  "directIntrospectionEndpointEnabled": false,
                  "directJwksEndpointEnabled": false,
                  "directRevocationEndpointEnabled": false,
                  "directTokenEndpointEnabled": false,
                  "directUserInfoEndpointEnabled": false,
                  "dynamicRegistrationSupported": false,
                  "errorDescriptionOmitted": false,
                  "errorUriOmitted": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantManagementActionRequired": false,
                  "hsmEnabled": false,
                  "idTokenDuration": 0,
                  "introspectionEndpoint": "https://my-service.example.com/introspection",
                  "issSuppressed": false,
                  "issuer": "https://my-service.example.com",
                  "metadata": [
                    {
                      "key": "clientCount",
                      "value": "1"
                    }
                  ],
                  "missingClientIdAllowed": false,
                  "modifiedAt": 1639373420725,
                  "mutualTlsValidatePkiCertChain": false,
                  "nbfOptional": false,
                  "number": 5041,
                  "parRequired": false,
                  "pkceRequired": true,
                  "pkceS256Required": false,
                  "pushedAuthReqDuration": 0,
                  "refreshTokenDuration": 3600,
                  "refreshTokenDurationKept": false,
                  "refreshTokenDurationReset": false,
                  "refreshTokenKept": false,
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "revocationEndpoint": "https://my-service.example.com/revocation",
                  "scopeRequired": false,
                  "serviceName": "My updated service",
                  "serviceOwnerNumber": 2,
                  "singleAccessTokenPerSubject": false,
                  "supportedClaimTypes": [
                    "NORMAL"
                  ],
                  "supportedDisplays": [
                    "PAGE"
                  ],
                  "supportedGrantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "supportedIntrospectionAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "supportedResponseTypes": [
                    "CODE"
                  ],
                  "supportedRevocationAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "supportedScopes": [
                    {
                      "defaultEntry": false,
                      "description": "A permission to read your history.",
                      "name": "history.read"
                    },
                    {
                      "defaultEntry": false,
                      "description": "A permission to read your timeline.",
                      "name": "timeline.read"
                    }
                  ],
                  "supportedTokenAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenEndpoint": "https://my-service.example.com/token",
                  "tokenExpirationLinked": false,
                  "traditionalRequestObjectProcessingApplied": false,
                  "unauthorizedOnClientConfigSupported": false,
                  "userCodeLength": 0
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "service_update_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/21653835348762/service/update \\\n-H 'Content-Type:application/json' \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"serviceName\": \"My updated service\", ... }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\n// Get an existing service.\nlong serviceId = ...;\nService service = api.getService(serviceId);\n\n// Update \"service name\".\nservice.setAServiceName(\"My updated service\");\n\napi.updateService(service);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\n# Get an existing service.\nserviceId = ...\nservice = api.getService(serviceId)\n\n# Update \"service name\".\nservice.serviceName = 'My updated service'\n\napi.updateService(service)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/{serviceId}/service/delete": {
      "delete": {
        "summary": "Delete Service ⚡",
        "description": "Delete a service.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The service was successfully deleted."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "service_delete_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X DELETE https://us.authlete.com/api/9503564192/service/delete/21653835348762 \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong serviceId = ...;\n\napi.deleteService(serviceId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nserviceId = ...\n\napi.deleteService(serviceId)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/service": {
      "servers": [
        {
          "url": "https://login.authlete.com",
          "description": "IDP Server",
          "x-speakeasy-server-id": "idp"
        }
      ],
      "post": {
        "summary": "Create Service (IDP)",
        "description": "Create a new service on the API server, belonging to the specified organization.\nA service can be created with an organization token or by a user with the CREATE_SERVICE role.\n\nThis endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`),\nnot on the regional API clusters.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/service_create_idp_request"
              },
              "example": {
                "apiServerId": 76281,
                "organizationId": 123456789012345,
                "service": {
                  "serviceName": "My service",
                  "issuer": "https://my-service.example.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service"
                },
                "example": {
                  "apiKey": 21653835348762,
                  "serviceName": "My service",
                  "issuer": "https://my-service.example.com",
                  "createdAt": 1639373421000,
                  "modifiedAt": 1639373421000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/idp_400"
          },
          "401": {
            "$ref": "#/components/responses/idp_401"
          },
          "403": {
            "$ref": "#/components/responses/idp_403"
          },
          "500": {
            "$ref": "#/components/responses/idp_500"
          }
        },
        "operationId": "service_create_idp_api",
        "x-speakeasy-group": "service",
        "x-speakeasy-name-override": "create",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://login.authlete.com/api/service \\\n-H 'Content-Type:application/json' \\\n-H 'Authorization: Bearer <organization-token>' \\\n-d '{ \"apiServerId\": 76281, \"organizationId\": 123456789012345, \"service\": { \"serviceName\": \"My Service\" } }'\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/service/remove": {
      "servers": [
        {
          "url": "https://login.authlete.com",
          "description": "IDP Server",
          "x-speakeasy-server-id": "idp"
        }
      ],
      "post": {
        "summary": "Remove Service (IDP) ⚡",
        "description": "Delete a service from the API server.\nA service can be deleted with an organization token or by a user with the MODIFY_SERVICE role.\n\nThis endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`),\nnot on the regional API clusters.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/service_remove_idp_request"
              },
              "example": {
                "apiServerId": 76281,
                "organizationId": 123456789012345,
                "serviceId": 21653835348762
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Service removed successfully."
          },
          "400": {
            "$ref": "#/components/responses/idp_400"
          },
          "401": {
            "$ref": "#/components/responses/idp_401"
          },
          "403": {
            "$ref": "#/components/responses/idp_403"
          },
          "500": {
            "$ref": "#/components/responses/idp_500"
          }
        },
        "operationId": "service_remove_idp_api",
        "x-speakeasy-group": "service",
        "x-speakeasy-name-override": "remove",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://login.authlete.com/api/service/remove \\\n-H 'Content-Type:application/json' \\\n-H 'Authorization: Bearer <organization-token>' \\\n-d '{ \"apiServerId\": 76281, \"organizationId\": 123456789012345, \"serviceId\": 21653835348762 }'\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/audit/entries": {
      "servers": [
        {
          "url": "https://login.authlete.com",
          "description": "IDP Server",
          "x-speakeasy-server-id": "idp"
        }
      ],
      "get": {
        "summary": "Get Audit Logs",
        "description": "Retrieve audit logs as a cursor-paginated list. Results can be filtered by time range, event type,\nand organization.\n",
        "x-mint": {
          "metadata": {
            "description": "Retrieve audit logs as a cursor-paginated list. Results can be filtered by time range, event type, and organization."
          },
          "content": "<Accordion title=\"Full description\" defaultOpen={false}>\nThe response contains a page of roughly `limit` entries together with a `nextCursor` value.\nEntries sharing the same timestamp are never split across pages, so a page may occasionally\ncontain more than `limit` entries. To fetch the next page, repeat the request with the `cursor`\nparameter set to the `nextCursor` value from the previous response, keeping the other filter\nparameters unchanged. `nextCursor` is absent on the last page. If both `before` and `cursor`\nare provided, `cursor` takes precedence.\n\nThis endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`),\nnot on the regional API clusters.\n</Accordion>\n"
        },
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return logs after this timestamp (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return logs before this timestamp (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Filter by event type (e.g. `service.create`, `security.login`, `client.create`).\nCan be specified multiple times. The set of available event types is environment-specific\nand includes server-side types; retrieve the full list from the `/api/audit/types` endpoint.\n",
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "example": "service.create"
              }
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "required": false,
            "description": "The organization to retrieve audit logs for. Not required when authenticating with an\norganization token — the token's own organization is used, and a differing value is\nrejected. Required for user access tokens, unless the user is an Authlete administrator\n(administrators may omit it to query across all organizations).\n",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of entries to return per page. Values outside the allowed range are\nclamped; the effective value is echoed back in the response.\n",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "An opaque cursor returned as `nextCursor` by a previous response. When provided, it takes\nprecedence over the `before` parameter.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of audit log entries matching the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/audit_entries_get_response"
                },
                "example": {
                  "entries": [
                    {
                      "event": "service.create",
                      "status": "completed",
                      "timestamp": "2026-06-01T12:34:56Z",
                      "cluster": "us",
                      "path": "/api/service",
                      "remoteAddr": "203.0.113.10",
                      "userAgent": "curl/8.4.0",
                      "user": "admin@example.com",
                      "details": {
                        "serviceId": 21653835348762,
                        "organizationId": 123456789012345
                      }
                    }
                  ],
                  "nextCursor": "MjAyNi0wNi0wMVQxMjozNDo1Nlo",
                  "limit": 100
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/idp_400"
          },
          "401": {
            "$ref": "#/components/responses/idp_401"
          },
          "403": {
            "$ref": "#/components/responses/idp_403"
          },
          "500": {
            "$ref": "#/components/responses/idp_500"
          }
        },
        "operationId": "audit_entries_get_idp_api",
        "x-speakeasy-group": "audit",
        "x-speakeasy-name-override": "get",
        "x-speakeasy-pagination": {
          "type": "cursor",
          "inputs": [
            {
              "name": "cursor",
              "in": "parameters",
              "type": "cursor"
            }
          ],
          "outputs": {
            "nextCursor": "$.nextCursor"
          }
        },
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v \"https://login.authlete.com/api/audit/entries?types=service.create&limit=100\" \\\n-H 'Authorization: Bearer <organization-token>'\n"
          }
        ],
        "tags": [
          "Audit Logs"
        ]
      }
    },
    "/api/audit/types": {
      "servers": [
        {
          "url": "https://login.authlete.com",
          "description": "IDP Server",
          "x-speakeasy-server-id": "idp"
        }
      ],
      "get": {
        "summary": "Get Audit Log Event Types",
        "description": "Returns the list of available audit log event types for this environment.\n\nAccessible with a user access token or an organization token that has the\n`view_audit_log` permission (e.g. a token created with the `admin` or\n`audit_reader` preset).\n\nThis endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`),\nnot on the regional API clusters.\n",
        "responses": {
          "200": {
            "description": "List of available audit event type strings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "string"
                  }
                },
                "example": [
                  "organization.create",
                  "security.login",
                  "service.create",
                  "service.delete"
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/idp_400"
          },
          "401": {
            "$ref": "#/components/responses/idp_401"
          },
          "403": {
            "$ref": "#/components/responses/idp_403"
          },
          "500": {
            "$ref": "#/components/responses/idp_500"
          }
        },
        "operationId": "audit_types_get_idp_api",
        "x-speakeasy-group": "audit",
        "x-speakeasy-name-override": "getTypes",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://login.authlete.com/api/audit/types \\\n-H 'Authorization: Bearer <access-token>'\n"
          }
        ],
        "tags": [
          "Audit Logs"
        ]
      }
    },
    "/api/{serviceId}/client/get/{clientId}": {
      "get": {
        "summary": "Get Client",
        "description": "Get a client.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "A client ID."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client"
                },
                "example": {
                  "applicationType": "WEB",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authTimeRequired": false,
                  "bcUserCodeRequired": false,
                  "clientId": 26478243745571,
                  "clientIdAlias": "my-client",
                  "clientIdAliasEnabled": true,
                  "clientName": "My client",
                  "clientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ",
                  "clientType": "CONFIDENTIAL",
                  "createdAt": 1639468356000,
                  "defaultMaxAge": 0,
                  "derivedSectorIdentifier": "my-client.example.com",
                  "developer": "john",
                  "dynamicallyRegistered": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "idTokenSignAlg": "RS256",
                  "modifiedAt": 1639468356000,
                  "number": 6164,
                  "parRequired": false,
                  "redirectUris": [
                    "https://my-client.example.com/cb1",
                    "https://my-client.example.com/cb2"
                  ],
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "responseTypes": [
                    "CODE",
                    "TOKEN"
                  ],
                  "serviceNumber": 5041,
                  "subjectType": "PUBLIC",
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenAuthMethod": "CLIENT_SECRET_BASIC"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "client_get_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/client/get/26478243745571 \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong clientId = ...;\n\napi.getClient(clientId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientId = ...\n\napi.getClient(clientId)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/get/list": {
      "get": {
        "summary": "List Clients",
        "description": "Get a list of clients on a service.\n\nIf the access token can view a full service (including an admin), all clients within the\nservice are returned. Otherwise, only clients that the access token can view within the\nservice are returned.\n- ViewClient: []\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "developer",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The developer of client applications. The default value is null. If this parameter is not set\nto `null`, client application of the specified developer are returned. Otherwise, all client\napplications that belong to the service are returned.\n"
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "Start index (inclusive) of the result set. The default value is 0. Must not be a negative number."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "End index (exclusive) of the result set. The default value is 5. Must not be a negative number."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client_get_list_response"
                },
                "examples": {
                  "full": {
                    "summary": "Example showing full client view.",
                    "value": {
                      "clients": [
                        {
                          "applicationType": "WEB",
                          "attributes": [
                            {
                              "key": "attribute1-key",
                              "value": "attribute1-value"
                            },
                            {
                              "key": "attribute2-key",
                              "value": "attribute2-value"
                            }
                          ],
                          "authTimeRequired": false,
                          "bcUserCodeRequired": false,
                          "clientId": 26478243745571,
                          "clientIdAlias": "my-client",
                          "clientIdAliasEnabled": true,
                          "clientName": "My client",
                          "clientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ",
                          "clientType": "CONFIDENTIAL",
                          "createdAt": 1639468356000,
                          "defaultMaxAge": 0,
                          "derivedSectorIdentifier": "my-client.example.com",
                          "dynamicallyRegistered": false,
                          "frontChannelRequestObjectEncryptionRequired": false,
                          "grantTypes": [
                            "AUTHORIZATION_CODE",
                            "REFRESH_TOKEN"
                          ],
                          "idTokenSignAlg": "RS256",
                          "modifiedAt": 1639468356000,
                          "number": 6164,
                          "parRequired": false,
                          "redirectUris": [
                            "https://my-client.example.com/cb1",
                            "https://my-client.example.com/cb2"
                          ],
                          "requestObjectEncryptionAlgMatchRequired": false,
                          "requestObjectEncryptionEncMatchRequired": false,
                          "requestObjectRequired": false,
                          "responseTypes": [
                            "CODE",
                            "TOKEN"
                          ],
                          "serviceNumber": 5041,
                          "subjectType": "PUBLIC",
                          "tlsClientCertificateBoundAccessTokens": false,
                          "tokenAuthMethod": "CLIENT_SECRET_BASIC"
                        }
                      ],
                      "end": 3,
                      "start": 0,
                      "totalCount": 1
                    }
                  },
                  "limited": {
                    "summary": "Example showing limited client view.",
                    "value": {
                      "clients": [
                        {
                          "clientId": 26478243745571,
                          "clientIdAlias": "my-client",
                          "clientIdAliasEnabled": true,
                          "clientName": "My client",
                          "clientType": "CONFIDENTIAL",
                          "number": 6164
                        }
                      ],
                      "end": 3,
                      "start": 0,
                      "totalCount": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "client_get_list_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/client/get/list?developer=john\\&start=0\\&end=5 \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nString developer = \"john\";\nint start = 0;\nint end = 5;\n\napi.getClientList(developer, start, end);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\ndeveloper = 'john'\nstart = 0\nend = 5\n\napi.getClientList(developer, start, end)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/create": {
      "post": {
        "summary": "Create Client",
        "description": "Create a new client.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/client"
              },
              "example": {
                "developer": "john",
                "clientName": "My Client",
                "clientIdAlias": "my-client",
                "clientIdAliasEnabled": true,
                "clientType": "CONFIDENTIAL",
                "applicationType": "WEB",
                "grantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "responseTypes": [
                  "CODE",
                  "TOKEN"
                ],
                "redirectUris": [
                  "https://my-client.example.com/cb1",
                  "https://my-client.example.com/cb2"
                ],
                "tokenAuthMethod": "CLIENT_SECRET_BASIC",
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created successfully (legacy compatibility)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client"
                },
                "example": {
                  "applicationType": "WEB",
                  "clientId": 26478243745571
                }
              }
            }
          },
          "201": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client"
                },
                "example": {
                  "applicationType": "WEB",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authTimeRequired": false,
                  "bcUserCodeRequired": false,
                  "clientId": 26478243745571,
                  "clientIdAlias": "my-client",
                  "clientIdAliasEnabled": true,
                  "clientName": "My client",
                  "clientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ",
                  "clientType": "CONFIDENTIAL",
                  "createdAt": 1639468356000,
                  "defaultMaxAge": 0,
                  "derivedSectorIdentifier": "my-client.example.com",
                  "developer": "john",
                  "dynamicallyRegistered": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "idTokenSignAlg": "RS256",
                  "modifiedAt": 1639468356000,
                  "number": 6164,
                  "parRequired": false,
                  "redirectUris": [
                    "https://my-client.example.com/cb1",
                    "https://my-client.example.com/cb2"
                  ],
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "responseTypes": [
                    "CODE",
                    "TOKEN"
                  ],
                  "serviceNumber": 5041,
                  "subjectType": "PUBLIC",
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenAuthMethod": "CLIENT_SECRET_BASIC"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "client_create_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/21653835348762/client/create \\\n-H 'Content-Type:application/json' \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"developer\": \"john\", \"clientName\": \"My Client\", ... }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nClient client = new Client();\nclient.setDeveloper(\"john\");\nclient.setClientName(\"My Client\");\n...\n\napi.createClient(client);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclient = Client()\nclient.developer = 'john'\nclient.clientName = 'My Client'\n...\n\napi.createClient(client)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/update/{clientId}": {
      "post": {
        "summary": "Update Client",
        "description": "Update a client.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "A client ID."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/client"
              },
              "example": {
                "applicationType": "WEB",
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ],
                "authTimeRequired": false,
                "bcUserCodeRequired": false,
                "clientIdAlias": "my-client",
                "clientIdAliasEnabled": true,
                "clientName": "My updated client",
                "clientType": "CONFIDENTIAL",
                "defaultMaxAge": 0,
                "derivedSectorIdentifier": "my-client.example.com",
                "developer": "john",
                "dynamicallyRegistered": false,
                "frontChannelRequestObjectEncryptionRequired": false,
                "grantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "idTokenSignAlg": "RS256",
                "parRequired": false,
                "redirectUris": [
                  "https://my-client.example.com/cb1",
                  "https://my-client.example.com/cb2"
                ],
                "requestObjectEncryptionAlgMatchRequired": false,
                "requestObjectEncryptionEncMatchRequired": false,
                "requestObjectRequired": false,
                "responseTypes": [
                  "CODE",
                  "TOKEN"
                ],
                "subjectType": "PUBLIC",
                "tlsClientCertificateBoundAccessTokens": false,
                "tokenAuthMethod": "CLIENT_SECRET_BASIC"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client"
                },
                "example": {
                  "applicationType": "WEB",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authTimeRequired": false,
                  "bcUserCodeRequired": false,
                  "clientId": 26478243745571,
                  "clientIdAlias": "my-client",
                  "clientIdAliasEnabled": true,
                  "clientName": "My updated client",
                  "clientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ",
                  "clientType": "CONFIDENTIAL",
                  "createdAt": 1639468356000,
                  "defaultMaxAge": 0,
                  "derivedSectorIdentifier": "my-client.example.com",
                  "developer": "john",
                  "dynamicallyRegistered": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "idTokenSignAlg": "RS256",
                  "modifiedAt": 1639557082764,
                  "number": 6164,
                  "parRequired": false,
                  "redirectUris": [
                    "https://my-client.example.com/cb1",
                    "https://my-client.example.com/cb2"
                  ],
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "responseTypes": [
                    "CODE",
                    "TOKEN"
                  ],
                  "serviceNumber": 5041,
                  "subjectType": "PUBLIC",
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenAuthMethod": "CLIENT_SECRET_BASIC"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "The client was not found."
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "client_update_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/21653835348762/client/update/26478243745571 \\\n-H 'Content-Type:application/json' \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"clientName\": \"My updated client\", ... }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\n// Get an existing client.\nlong clientId = ...;\nClient client = api.getClient(clientId);\n\n// Update \"client name\".\nclient.setClientName(\"My updated client\");\n\napi.updateClient(client);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\n# Get an existing client.\nclientId = ...\nclient = api.getClient(clientId)\n\n# Update \"client name\".\nclient.clientName = 'My updated client'\n\napi.updatedClient(client)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/delete/{clientId}": {
      "delete": {
        "summary": "Delete Client ⚡",
        "description": "Delete a client.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The client ID."
          }
        ],
        "responses": {
          "204": {
            "description": "The client was successfully deleted."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "The client was not found."
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "client_delete_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/delete/26478243745571 \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong clientId = ...;\n\napi.deleteClient(clientId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientId = ...\n\napi.deleteClient(clientId)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/lock_flag/update/{clientIdentifier}": {
      "post": {
        "summary": "Update Client Lock",
        "description": "Lock and unlock a client\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientIdentifier",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "A client ID."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/client_flag_update_request"
              },
              "example": {
                "clientLocked": true
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/client_flag_update_request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client_flag_update_response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "client_flag_update_api",
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/secret/refresh/{clientIdentifier}": {
      "get": {
        "summary": "Rotate Client Secret",
        "description": "Refresh the client secret of a client. A new value of the client secret will be generated by the\nAuthlete server.\n\nIf you want to specify a new value, use `/api/client/secret/update` API.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientIdentifier",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The client ID or the client ID alias of a client.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client_secret_refresh_response"
                },
                "example": {
                  "resultCode": "A148001",
                  "resultMessage": "[A148001] Successfully refreshed the client secret of the client (ID = 26478243745571).",
                  "newClientSecret": "6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA",
                  "oldClientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "client_secret_refresh_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/client/secret/refresh/26478243745571 \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nString clientIdentifier = ...;\n\napi.refreshClientSecret(clientIdentifier);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientIdentifier = ...\n\napi.refreshClientSecret(clientIdentifier)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/secret/update/{clientIdentifier}": {
      "post": {
        "summary": "Update Client Secret",
        "description": "Update the client secret of a client.\n\nIf you want to have the Authlete server generate a new value of the client secret, use `/api/client/secret/refresh`\nAPI.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientIdentifier",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The client ID or the client ID alias of a client.\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/client_secret_update_request"
              },
              "example": {
                "clientSecret": "my_updated_client_secret"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/client_secret_update_request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client_secret_update_response"
                },
                "example": {
                  "resultCode": "A149001",
                  "resultMessage": "[A149001] Successfully updated the client secret of the client (ID = 26478243745571).",
                  "newClientSecret": "my_updated_client_secret",
                  "oldClientSecret": "6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "client_secret_update_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/client/secret/update/26478243745571 \\\n-H 'Content-Type:application/json' \\\n-H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"clientSecret\": \"...\" }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nString clientIdentifier = ...;\nString clientSecret = \"my_updated_client_secret\";\n\napi.updateClientSecret(clientIdentifier, clientSecret);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientIdentifier = ...\nclientSecret = 'my_new_client_secret'\n\napi.updateClientSecret(clientIdentifier, clientSecret)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/authorization/get/list": {
      "get": {
        "summary": "Get Authorized Applications",
        "description": "Get a list of client applications that an end-user has authorized.\n\nThe subject parameter is required and can be provided as a query parameter.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Unique user ID of an end-user.\n"
          },
          {
            "in": "query",
            "name": "developer",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Unique ID of a client developer.\n"
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "integer",
[...]
