{
  "openapi": "3.0.3",
  "diff-test": "difftest",
  "info": {
    "title": "Authlete API Explorer",
    "description": "<div class=\"min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 p-6\">\n  <div class=\"flex justify-end mb-4\">\n    <label for=\"theme-toggle\" class=\"flex items-center cursor-pointer\">\n      <div class=\"relative\">Dark mode:\n        <input type=\"checkbox\" id=\"theme-toggle\" class=\"sr-only\" onchange=\"toggleTheme()\">\n        <div class=\"block bg-gray-600 w-14 h-8 rounded-full\"></div>\n        <div class=\"dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition\"></div>\n      </div>\n    </label>\n  </div>\n  <header class=\"bg-green-500 dark:bg-green-700 p-4 rounded-lg text-white text-center\">\n    <p>\n      Welcome to the <strong>Authlete API documentation</strong>. Authlete is an <strong>API-first service</strong>\n      where every aspect of the platform is configurable via API. This explorer provides a convenient way to\n      authenticate and interact with the API, allowing you to see Authlete in action quickly. 🚀\n    </p>\n    <p>\n      At a high level, the Authlete API is grouped into two categories:\n    </p>\n    <ul class=\"list-disc list-inside\">\n      <li><strong>Management APIs</strong>: Enable you to manage services and clients. 🔧</li>\n      <li><strong>Runtime APIs</strong>: Allow you to build your own Authorization Servers or Verifiable Credential (VC)\n        issuers. 🔐</li>\n    </ul>\n    <p>All API endpoints are secured using access tokens issued by Authlete's Identity Provider (IdP). If you already\n      have an Authlete account, simply use the <em>Get Token</em> option on the Authentication page to log in and obtain\n      an access token for API usage. If you don't have an account yet, <a href=\"https://console.authlete.com/register\">sign up\n        here</a> to get started.</p>\n  </header>\n  <main>\n    <section id=\"api-servers\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">🌐 API Servers</h2>\n      <p>Authlete is a global service with clusters available in multiple regions across the world.</p>\n      <p>Currently, our service is available in the following regions:</p>\n      <div class=\"grid grid-cols-2 gap-4\">\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">🇺🇸 US</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">🇯🇵 JP</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">🇪🇺 EU</p>\n        </div>\n        <div class=\"p-4 bg-white dark:bg-gray-800 rounded-lg shadow\">\n          <p class=\"text-center font-semibold\">🇧🇷 Brazil</p>\n        </div>\n      </div>\n      <p>Our customers can host their data in the region that best meets their requirements.</p>\n      <a href=\"#servers\" class=\"block mt-4 text-green-500 dark:text-green-300 hover:underline text-center\">Select your\n        preferred server</a>\n    </section>\n    <section id=\"authentication\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">🔑 Authentication</h2>\n      <p>The API Explorer requires an access token to call the API.</p>\n      <p>You can create the access token from the <a href=\"https://console.authlete.com\">Authlete Management Console</a> and set it in the HTTP Bearer section of Authentication page.</p>\n      <p>Alternatively, if you have an Authlete account, the API Explorer can log you in with your Authlete account and\n        automatically acquire the required access token.</p>\n      <div class=\"theme-admonition theme-admonition-warning admonition_o5H7 alert alert--warning\">\n        <div class=\"admonitionContent_Knsx\">\n          <p>⚠️ <strong>Important Note:</strong> When the API Explorer acquires the token after login, the access tokens\n            will have the same permissions as the user who logs in as part of this flow.</p>\n        </div>\n      </div>\n      <a href=\"#auth\" class=\"block mt-4 text-green-500 dark:text-green-300 hover:underline text-center\">Setup your\n        access token</a>\n    </section>\n    <section id=\"tutorials\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">🎓 Tutorials</h2>\n      <p>If you have successfully tested the API from the API Console and want to take the next step of integrating the\n        API into your application, or if you want to see a sample using Authlete APIs, follow the links below. These\n        resources will help you understand key concepts and how to integrate Authlete API into your applications.</p>\n      <div class=\"mt-4\">\n        <a href=\"https://www.authlete.com/developers/getting_started/\"\n          class=\"block text-green-500 dark:text-green-300 font-bold hover:underline mb-2\">🚀 Getting Started with\n          Authlete</a>\n          </br>\n        <a href=\"https://www.authlete.com/developers/tutorial/signup/\"\n          class=\"block text-green-500 dark:text-green-300 font-bold hover:underline\">🔑 From Sign-Up to the First API\n          Request</a>\n      </div>\n    </section>\n    <section id=\"support\" class=\"mb-10\">\n      <h2 class=\"text-2xl font-semibold mb-4\">🛠 Contact Us</h2>\n      <p>If you have any questions or need assistance, our team is here to help.</p>\n      <a href=\"https://www.authlete.com/contact/\"\n        class=\"block mt-4 text-green-500 dark:text-green-300 font-bold hover:underline\">Contact Page</a>\n    </section>\n  </main>\n</div>\n",
    "version": "3.0.0",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "description": "🇺🇸 US Cluster",
      "url": "https://us.authlete.com"
    },
    {
      "description": "🇯🇵 Japan Cluster",
      "url": "https://jp.authlete.com"
    },
    {
      "description": "🇪🇺 Europe Cluster",
      "url": "https://eu.authlete.com"
    },
    {
      "description": "🇧🇷 Brazil Cluster",
      "url": "https://br.authlete.com"
    }
  ],
  "security": [
    {
      "authlete": []
    },
    {
      "bearer": []
    }
  ],
  "paths": {
    "/api/{serviceId}/service/get": {
      "get": {
        "summary": "Get Service",
        "description": "Get a service.\n\nIf the access token can only view or modify clients underneath this service, but does not\nhave access to view this service directly, a limited view of the service will be returned.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                },
                "examples": {
                  "full": {
                    "summary": "Example showing the full service object.",
                    "value": {
                      "accessTokenDuration": 3600,
                      "accessTokenType": "Bearer",
                      "allowableClockSkew": 0,
                      "apiKey": 21653835348762,
                      "attributes": [
                        {
                          "key": "attribute1-key",
                          "value": "attribute1-value"
                        },
                        {
                          "key": "attribute2-key",
                          "value": "attribute2-value"
                        }
                      ],
                      "authorizationEndpoint": "https://my-service.example.com/authz",
                      "authorizationResponseDuration": 0,
                      "backchannelAuthReqIdDuration": 0,
                      "backchannelBindingMessageRequiredInFapi": false,
                      "backchannelPollingInterval": 0,
                      "backchannelUserCodeParameterSupported": false,
                      "claimShortcutRestrictive": false,
                      "clientIdAliasEnabled": true,
                      "clientsPerDeveloper": 0,
                      "createdAt": 1639373421000,
                      "dcrScopeUsedAsRequestable": false,
                      "deviceFlowCodeDuration": 0,
                      "deviceFlowPollingInterval": 0,
                      "directAuthorizationEndpointEnabled": false,
                      "directIntrospectionEndpointEnabled": false,
                      "directJwksEndpointEnabled": false,
                      "directRevocationEndpointEnabled": false,
                      "directTokenEndpointEnabled": false,
                      "directUserInfoEndpointEnabled": false,
                      "dynamicRegistrationSupported": false,
                      "errorDescriptionOmitted": false,
                      "errorUriOmitted": false,
                      "frontChannelRequestObjectEncryptionRequired": false,
                      "grantManagementActionRequired": false,
                      "hsmEnabled": false,
                      "idTokenDuration": 0,
                      "introspectionEndpoint": "https://my-service.example.com/introspection",
                      "issSuppressed": false,
                      "issuer": "https://my-service.example.com",
                      "metadata": [
                        {
                          "key": "clientCount",
                          "value": "1"
                        }
                      ],
                      "missingClientIdAllowed": false,
                      "modifiedAt": 1639373421000,
                      "mutualTlsValidatePkiCertChain": false,
                      "nbfOptional": false,
                      "number": 5041,
                      "parRequired": false,
                      "pkceRequired": true,
                      "pkceS256Required": false,
                      "pushedAuthReqDuration": 0,
                      "refreshTokenDuration": 3600,
                      "refreshTokenDurationKept": false,
                      "refreshTokenDurationReset": false,
                      "refreshTokenKept": false,
                      "requestObjectEncryptionAlgMatchRequired": false,
                      "requestObjectEncryptionEncMatchRequired": false,
                      "requestObjectRequired": false,
                      "revocationEndpoint": "https://my-service.example.com/revocation",
                      "scopeRequired": false,
                      "serviceName": "My service",
                      "serviceOwnerNumber": 2,
                      "singleAccessTokenPerSubject": false,
                      "supportedClaimTypes": [
                        "NORMAL"
                      ],
                      "supportedDisplays": [
                        "PAGE"
                      ],
                      "supportedGrantTypes": [
                        "AUTHORIZATION_CODE",
                        "REFRESH_TOKEN"
                      ],
                      "supportedIntrospectionAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "supportedResponseTypes": [
                        "CODE"
                      ],
                      "supportedRevocationAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "supportedScopes": [
                        {
                          "defaultEntry": false,
                          "description": "A permission to read your history.",
                          "name": "history.read"
                        },
                        {
                          "defaultEntry": false,
                          "description": "A permission to read your timeline.",
                          "name": "timeline.read"
                        }
                      ],
                      "supportedTokenAuthMethods": [
                        "CLIENT_SECRET_BASIC"
                      ],
                      "tlsClientCertificateBoundAccessTokens": false,
                      "tokenEndpoint": "https://my-service.example.com/token",
                      "tokenExpirationLinked": false,
                      "traditionalRequestObjectProcessingApplied": false,
                      "unauthorizedOnClientConfigSupported": false,
                      "userCodeLength": 0
                    }
                  },
                  "limited": {
                    "summary": "Example showing the limited service object.",
                    "value": {
                      "apiKey": 21653835348762,
                      "description": "This Service.",
                      "number": 5041,
                      "serviceName": "My service"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "service_get_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/service/get \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong serviceId = ...;\n\napi.getService(serviceId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nserviceId = ...\n\napi.getService(serviceId)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/service/get/list": {
      "get": {
        "summary": "List Services",
        "description": "Get a list of services.\n\nIf the access token can only view or modify clients underneath a service, but does not\nhave access to view that service directly, a limited view of the service will be returned.\nOtherwise, all properties of the service are returned.\n\nIf the access token is an administrative token, this returns a list of all services on the Authlete instance.\nOtherwise, all services that the access token can view, even in a limited fashion, are returned.\n",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "Start index (inclusive) of the result set. The default value is 0. Must not be a negative number."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "End index (exclusive) of the result set. The default value is 5. Must not be a negative number."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Start index (inclusive) of the result set. The default value is 0. Must not be a negative\nnumber.\n"
                    },
                    "end": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Start index (inclusive) of the result set. The default value is 0. Must not be a negative\nnumber.\n"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total number of services owned by the service owner. This doesn't mean the number of services\ncontained in the response.\n"
                    },
                    "services": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      },
                      "description": "An array of services.\n"
                    }
                  }
                },
                "examples": {
                  "full": {
                    "summary": "Example showing the full service view.",
                    "value": {
                      "start": 0,
                      "end": 5,
                      "totalCount": 1,
                      "services": [
                        {
                          "accessTokenDuration": 3600,
                          "accessTokenType": "Bearer",
                          "allowableClockSkew": 0,
                          "apiKey": 21653835348762,
                          "apiSecret": "uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls",
                          "attributes": [
                            {
                              "key": "attribute1-key",
                              "value": "attribute1-value"
                            },
                            {
                              "key": "attribute2-key",
                              "value": "attribute2-value"
                            }
                          ],
                          "authorizationEndpoint": "https://as.example.com/authz",
                          "authorizationResponseDuration": 0,
                          "backchannelAuthReqIdDuration": 0,
                          "backchannelBindingMessageRequiredInFapi": false,
                          "backchannelPollingInterval": 0,
                          "backchannelUserCodeParameterSupported": false,
                          "claimShortcutRestrictive": false,
                          "clientIdAliasEnabled": true,
                          "createdAt": 1639373421000,
                          "dcrScopeUsedAsRequestable": false,
                          "deviceFlowCodeDuration": 0,
                          "deviceFlowPollingInterval": 0,
                          "directAuthorizationEndpointEnabled": false,
                          "directIntrospectionEndpointEnabled": false,
                          "directJwksEndpointEnabled": false,
                          "directRevocationEndpointEnabled": false,
                          "directTokenEndpointEnabled": false,
                          "directUserInfoEndpointEnabled": false,
                          "dynamicRegistrationSupported": false,
                          "errorDescriptionOmitted": false,
                          "errorUriOmitted": false,
                          "frontChannelRequestObjectEncryptionRequired": false,
                          "grantManagementActionRequired": false,
                          "hsmEnabled": false,
                          "idTokenDuration": 0,
                          "introspectionEndpoint": "https://my-service.example.com/introspection",
                          "issSuppressed": false,
                          "issuer": "https://my-service.example.com",
                          "metadata": [
                            {
                              "key": "clientCount",
                              "value": "1"
                            }
                          ],
                          "missingClientIdAllowed": false,
                          "modifiedAt": 1639373421000,
                          "mutualTlsValidatePkiCertChain": false,
                          "nbfOptional": false,
                          "number": 5041,
                          "parRequired": false,
                          "pkceRequired": true,
                          "pkceS256Required": false,
                          "pushedAuthReqDuration": 0,
                          "refreshTokenDuration": 3600,
                          "refreshTokenDurationKept": false,
                          "refreshTokenDurationReset": false,
                          "refreshTokenKept": false,
                          "requestObjectEncryptionAlgMatchRequired": false,
                          "requestObjectEncryptionEncMatchRequired": false,
                          "requestObjectRequired": false,
                          "revocationEndpoint": "https://my-service.example.com/revocation",
                          "scopeRequired": false,
                          "serviceName": "My service",
                          "serviceOwnerNumber": 2,
                          "singleAccessTokenPerSubject": false,
                          "supportedClaimTypes": [
                            "NORMAL"
                          ],
                          "supportedDisplays": [
                            "PAGE"
                          ],
                          "supportedGrantTypes": [
                            "AUTHORIZATION_CODE",
                            "REFRESH_TOKEN"
                          ],
                          "supportedIntrospectionAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "supportedResponseTypes": [
                            "CODE"
                          ],
                          "supportedRevocationAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "supportedScopes": [
                            {
                              "defaultEntry": false,
                              "description": "A permission to read your history.",
                              "name": "history.read"
                            },
                            {
                              "defaultEntry": false,
                              "description": "A permission to read your timeline.",
                              "name": "timeline.read"
                            }
                          ],
                          "supportedTokenAuthMethods": [
                            "CLIENT_SECRET_BASIC"
                          ],
                          "tlsClientCertificateBoundAccessTokens": false,
                          "tokenEndpoint": "https://my-service.example.com/token",
                          "tokenExpirationLinked": false,
                          "traditionalRequestObjectProcessingApplied": false,
                          "unauthorizedOnClientConfigSupported": false,
                          "userCodeLength": 0
                        }
                      ]
                    }
                  },
                  "limited": {
                    "summary": "Example showing the limited service view.",
                    "value": {
                      "start": 0,
                      "end": 5,
                      "totalCount": 1,
                      "services": [
                        {
                          "apiKey": 21653835348762,
                          "clientIdAliasEnabled": true,
                          "number": 5041,
                          "serviceName": "My service"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "service_get_list_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/9503564192/service/get/list?start=0\\&end=5 \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nint start = 0;\nint end = 5;\n\napi.getServiceList(start, end);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nstart = 0\nend = 5\n\napi.getServiceList(start, end)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/service/create": {
      "post": {
        "summary": "Create Service",
        "description": "Create a new service.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Service"
              },
              "example": {
                "serviceName": "My service",
                "issuer": "https://my-service.example.com",
                "clientIdAliasEnabled": true,
                "supportedGrantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "supportedResponseTypes": [
                  "CODE"
                ],
                "authorizationEndpoint": "https://my-service.example.com/authz",
                "pkceRequired": true,
                "tokenEndpoint": "https://my-service.example.com/token",
                "supportedTokenAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "revocationEndpoint": "https://my-service.example.com/revocation",
                "supportedRevocationAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "introspectionEndpoint": "https://my-service.example.com/introspection",
                "supportedIntrospectionAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "accessTokenType": "Bearer",
                "accessTokenDuration": 3600,
                "refreshTokenDuration": 3600,
                "supportedScopes": [
                  {
                    "name": "timeline.read",
                    "defaultEntry": false,
                    "description": "A permission to read your timeline."
                  },
                  {
                    "name": "history.read",
                    "defaultEntry": false,
                    "description": "A permission to read your history."
                  }
                ],
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Service"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                },
                "example": {
                  "accessTokenDuration": 3600,
                  "accessTokenType": "Bearer",
                  "allowableClockSkew": 0,
                  "apiKey": 21653835348762,
                  "apiSecret": "uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authorizationEndpoint": "https://my-service.example.com/authz",
                  "authorizationResponseDuration": 0,
                  "backchannelAuthReqIdDuration": 0,
                  "backchannelBindingMessageRequiredInFapi": false,
                  "backchannelPollingInterval": 0,
                  "backchannelUserCodeParameterSupported": false,
                  "claimShortcutRestrictive": false,
                  "clientIdAliasEnabled": true,
                  "clientsPerDeveloper": 0,
                  "createdAt": 1639373421000,
                  "dcrScopeUsedAsRequestable": false,
                  "deviceFlowCodeDuration": 0,
                  "deviceFlowPollingInterval": 0,
                  "directAuthorizationEndpointEnabled": false,
                  "directIntrospectionEndpointEnabled": false,
                  "directJwksEndpointEnabled": false,
                  "directRevocationEndpointEnabled": false,
                  "directTokenEndpointEnabled": false,
                  "directUserInfoEndpointEnabled": false,
                  "dynamicRegistrationSupported": false,
                  "errorDescriptionOmitted": false,
                  "errorUriOmitted": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantManagementActionRequired": false,
                  "hsmEnabled": false,
                  "idTokenDuration": 0,
                  "introspectionEndpoint": "https://my-service.example.com/introspection",
                  "issSuppressed": false,
                  "issuer": "https://my-service.example.com",
                  "metadata": [
                    {
                      "key": "clientCount",
                      "value": "0"
                    }
                  ],
                  "missingClientIdAllowed": false,
                  "modifiedAt": 1639373421000,
                  "mutualTlsValidatePkiCertChain": false,
                  "nbfOptional": false,
                  "number": 5041,
                  "parRequired": false,
                  "pkceRequired": true,
                  "pkceS256Required": false,
                  "pushedAuthReqDuration": 0,
                  "refreshTokenDuration": 3600,
                  "refreshTokenDurationKept": false,
                  "refreshTokenDurationReset": false,
                  "refreshTokenKept": false,
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "revocationEndpoint": "https://my-service.example.com/revocation",
                  "scopeRequired": false,
                  "serviceName": "My service",
                  "serviceOwnerNumber": 2,
                  "singleAccessTokenPerSubject": false,
                  "supportedClaimTypes": [
                    "NORMAL"
                  ],
                  "supportedDisplays": [
                    "PAGE"
                  ],
                  "supportedGrantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "supportedIntrospectionAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "supportedResponseTypes": [
                    "CODE"
                  ],
                  "supportedRevocationAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "supportedScopes": [
                    {
                      "defaultEntry": false,
                      "description": "A permission to read your history.",
                      "name": "history.read"
                    },
                    {
                      "defaultEntry": false,
                      "description": "A permission to read your timeline.",
                      "name": "timeline.read"
                    }
                  ],
                  "supportedTokenAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenEndpoint": "https://my-service.example.com/token",
                  "tokenExpirationLinked": false,
                  "traditionalRequestObjectProcessingApplied": false,
                  "unauthorizedOnClientConfigSupported": false,
                  "userCodeLength": 0
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "service_create_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/service/create \\\n-H 'Content-Type:application/json' \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"serviceName\": \"My Service\", ... }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nService service = new Service();\nservice.setServiceName(\"My Service\");\n...\n\napi.createService(service);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nservice = Service()\nservice.serviceName = 'My Service'\n...\n\napi.createService(service)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/{serviceId}/service/update": {
      "post": {
        "summary": "Update Service",
        "description": "Update a service.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Service"
              },
              "example": {
                "accessTokenDuration": 3600,
                "accessTokenType": "Bearer",
                "allowableClockSkew": 0,
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ],
                "authorizationEndpoint": "https://my-service.example.com/authz",
                "authorizationResponseDuration": 0,
                "backchannelAuthReqIdDuration": 0,
                "backchannelBindingMessageRequiredInFapi": false,
                "backchannelPollingInterval": 0,
                "backchannelUserCodeParameterSupported": false,
                "claimShortcutRestrictive": false,
                "clientIdAliasEnabled": true,
                "clientsPerDeveloper": 0,
                "dcrScopeUsedAsRequestable": false,
                "deviceFlowCodeDuration": 0,
                "deviceFlowPollingInterval": 0,
                "directAuthorizationEndpointEnabled": false,
                "directIntrospectionEndpointEnabled": false,
                "directJwksEndpointEnabled": false,
                "directRevocationEndpointEnabled": false,
                "directTokenEndpointEnabled": false,
                "directUserInfoEndpointEnabled": false,
                "dynamicRegistrationSupported": false,
                "errorDescriptionOmitted": false,
                "errorUriOmitted": false,
                "frontChannelRequestObjectEncryptionRequired": false,
                "grantManagementActionRequired": false,
                "hsmEnabled": false,
                "idTokenDuration": 0,
                "introspectionEndpoint": "https://my-service.example.com/introspection",
                "issSuppressed": false,
                "issuer": "https://my-service.example.com",
                "missingClientIdAllowed": false,
                "mutualTlsValidatePkiCertChain": false,
                "nbfOptional": false,
                "parRequired": false,
                "pkceRequired": true,
                "pkceS256Required": false,
                "pushedAuthReqDuration": 0,
                "refreshTokenDuration": 3600,
                "refreshTokenDurationKept": false,
                "refreshTokenDurationReset": false,
                "refreshTokenKept": false,
                "requestObjectEncryptionAlgMatchRequired": false,
                "requestObjectEncryptionEncMatchRequired": false,
                "requestObjectRequired": false,
                "revocationEndpoint": "https://my-service.example.com/revocation",
                "scopeRequired": false,
                "serviceName": "My updated service",
                "singleAccessTokenPerSubject": false,
                "supportedClaimTypes": [
                  "NORMAL"
                ],
                "supportedDisplays": [
                  "PAGE"
                ],
                "supportedGrantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "supportedIntrospectionAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "supportedResponseTypes": [
                  "CODE"
                ],
                "supportedRevocationAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "supportedScopes": [
                  {
                    "defaultEntry": false,
                    "description": "A permission to read your history.",
                    "name": "history.read"
                  },
                  {
                    "defaultEntry": false,
                    "description": "A permission to read your timeline.",
                    "name": "timeline.read"
                  }
                ],
                "supportedTokenAuthMethods": [
                  "CLIENT_SECRET_BASIC"
                ],
                "tlsClientCertificateBoundAccessTokens": false,
                "tokenEndpoint": "https://my-service.example.com/token",
                "tokenExpirationLinked": false,
                "traditionalRequestObjectProcessingApplied": false,
                "unauthorizedOnClientConfigSupported": false,
                "userCodeLength": 0
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Service"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                },
                "example": {
                  "accessTokenDuration": 3600,
                  "accessTokenType": "Bearer",
                  "allowableClockSkew": 0,
                  "apiKey": 21653835348762,
                  "apiSecret": "uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authorizationEndpoint": "https://my-service.example.com/authz",
                  "authorizationResponseDuration": 0,
                  "backchannelAuthReqIdDuration": 0,
                  "backchannelBindingMessageRequiredInFapi": false,
                  "backchannelPollingInterval": 0,
                  "backchannelUserCodeParameterSupported": false,
                  "claimShortcutRestrictive": false,
                  "clientIdAliasEnabled": true,
                  "clientsPerDeveloper": 0,
                  "createdAt": 1639373421000,
                  "dcrScopeUsedAsRequestable": false,
                  "deviceFlowCodeDuration": 0,
                  "deviceFlowPollingInterval": 0,
                  "directAuthorizationEndpointEnabled": false,
                  "directIntrospectionEndpointEnabled": false,
                  "directJwksEndpointEnabled": false,
                  "directRevocationEndpointEnabled": false,
                  "directTokenEndpointEnabled": false,
                  "directUserInfoEndpointEnabled": false,
                  "dynamicRegistrationSupported": false,
                  "errorDescriptionOmitted": false,
                  "errorUriOmitted": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantManagementActionRequired": false,
                  "hsmEnabled": false,
                  "idTokenDuration": 0,
                  "introspectionEndpoint": "https://my-service.example.com/introspection",
                  "issSuppressed": false,
                  "issuer": "https://my-service.example.com",
                  "metadata": [
                    {
                      "key": "clientCount",
                      "value": "1"
                    }
                  ],
                  "missingClientIdAllowed": false,
                  "modifiedAt": 1639373420725,
                  "mutualTlsValidatePkiCertChain": false,
                  "nbfOptional": false,
                  "number": 5041,
                  "parRequired": false,
                  "pkceRequired": true,
                  "pkceS256Required": false,
                  "pushedAuthReqDuration": 0,
                  "refreshTokenDuration": 3600,
                  "refreshTokenDurationKept": false,
                  "refreshTokenDurationReset": false,
                  "refreshTokenKept": false,
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "revocationEndpoint": "https://my-service.example.com/revocation",
                  "scopeRequired": false,
                  "serviceName": "My updated service",
                  "serviceOwnerNumber": 2,
                  "singleAccessTokenPerSubject": false,
                  "supportedClaimTypes": [
                    "NORMAL"
                  ],
                  "supportedDisplays": [
                    "PAGE"
                  ],
                  "supportedGrantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "supportedIntrospectionAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "supportedResponseTypes": [
                    "CODE"
                  ],
                  "supportedRevocationAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "supportedScopes": [
                    {
                      "defaultEntry": false,
                      "description": "A permission to read your history.",
                      "name": "history.read"
                    },
                    {
                      "defaultEntry": false,
                      "description": "A permission to read your timeline.",
                      "name": "timeline.read"
                    }
                  ],
                  "supportedTokenAuthMethods": [
                    "CLIENT_SECRET_BASIC"
                  ],
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenEndpoint": "https://my-service.example.com/token",
                  "tokenExpirationLinked": false,
                  "traditionalRequestObjectProcessingApplied": false,
                  "unauthorizedOnClientConfigSupported": false,
                  "userCodeLength": 0
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "service_update_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/21653835348762/service/update \\\n-H 'Content-Type:application/json' \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"serviceName\": \"My updated service\", ... }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\n// Get an existing service.\nlong serviceId = ...;\nService service = api.getService(serviceId);\n\n// Update \"service name\".\nservice.setAServiceName(\"My updated service\");\n\napi.updateService(service);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\n# Get an existing service.\nserviceId = ...\nservice = api.getService(serviceId)\n\n# Update \"service name\".\nservice.serviceName = 'My updated service'\n\napi.updateService(service)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/{serviceId}/service/delete": {
      "delete": {
        "summary": "Delete Service ⚡",
        "description": "Delete a service.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The service was successfully deleted."
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "service_delete_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X DELETE https://us.authlete.com/api/9503564192/service/delete/21653835348762 \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong serviceId = ...;\n\napi.deleteService(serviceId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nserviceId = ...\n\napi.deleteService(serviceId)\n"
          }
        ],
        "tags": [
          "Service Management"
        ]
      }
    },
    "/api/{serviceId}/client/get/{clientId}": {
      "get": {
        "summary": "Get Client",
        "description": "Get a client.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "A client ID."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                },
                "example": {
                  "applicationType": "WEB",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authTimeRequired": false,
                  "bcUserCodeRequired": false,
                  "clientId": 26478243745571,
                  "clientIdAlias": "my-client",
                  "clientIdAliasEnabled": true,
                  "clientName": "My client",
                  "clientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ",
                  "clientType": "CONFIDENTIAL",
                  "createdAt": 1639468356000,
                  "defaultMaxAge": 0,
                  "derivedSectorIdentifier": "my-client.example.com",
                  "developer": "john",
                  "dynamicallyRegistered": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "idTokenSignAlg": "RS256",
                  "modifiedAt": 1639468356000,
                  "number": 6164,
                  "parRequired": false,
                  "redirectUris": [
                    "https://my-client.example.com/cb1",
                    "https://my-client.example.com/cb2"
                  ],
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "responseTypes": [
                    "CODE",
                    "TOKEN"
                  ],
                  "serviceNumber": 5041,
                  "subjectType": "PUBLIC",
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenAuthMethod": "CLIENT_SECRET_BASIC"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_get_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/client/get/26478243745571 \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong clientId = ...;\n\napi.getClient(clientId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientId = ...\n\napi.getClient(clientId)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/get/list": {
      "get": {
        "summary": "List Clients",
        "description": "Get a list of clients on a service.\n\nIf the access token can view a full service (including an admin), all clients within the\nservice are returned. Otherwise, only clients that the access token can view within the\nservice are returned.\n- ViewClient: []\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "developer",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The developer of client applications. The default value is null. If this parameter is not set\nto `null`, client application of the specified developer are returned. Otherwise, all client\napplications that belong to the service are returned.\n"
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "Start index (inclusive) of the result set. The default value is 0. Must not be a negative number."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "End index (exclusive) of the result set. The default value is 5. Must not be a negative number."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Start index (inclusive) of the result set of the query.\n"
                    },
                    "end": {
                      "type": "integer",
                      "format": "int32",
                      "description": "End index (exclusive) of the result set of the query.\n"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total number of clients that belong to the service. This doesn't mean the number of clients\ncontained in the response.\n"
                    },
                    "clients": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Client"
                      },
                      "description": "An array of clients.\n"
                    }
                  }
                },
                "examples": {
                  "full": {
                    "summary": "Example showing full client view.",
                    "value": {
                      "clients": [
                        {
                          "applicationType": "WEB",
                          "attributes": [
                            {
                              "key": "attribute1-key",
                              "value": "attribute1-value"
                            },
                            {
                              "key": "attribute2-key",
                              "value": "attribute2-value"
                            }
                          ],
                          "authTimeRequired": false,
                          "bcUserCodeRequired": false,
                          "clientId": 26478243745571,
                          "clientIdAlias": "my-client",
                          "clientIdAliasEnabled": true,
                          "clientName": "My client",
                          "clientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ",
                          "clientType": "CONFIDENTIAL",
                          "createdAt": 1639468356000,
                          "defaultMaxAge": 0,
                          "derivedSectorIdentifier": "my-client.example.com",
                          "dynamicallyRegistered": false,
                          "frontChannelRequestObjectEncryptionRequired": false,
                          "grantTypes": [
                            "AUTHORIZATION_CODE",
                            "REFRESH_TOKEN"
                          ],
                          "idTokenSignAlg": "RS256",
                          "modifiedAt": 1639468356000,
                          "number": 6164,
                          "parRequired": false,
                          "redirectUris": [
                            "https://my-client.example.com/cb1",
                            "https://my-client.example.com/cb2"
                          ],
                          "requestObjectEncryptionAlgMatchRequired": false,
                          "requestObjectEncryptionEncMatchRequired": false,
                          "requestObjectRequired": false,
                          "responseTypes": [
                            "CODE",
                            "TOKEN"
                          ],
                          "serviceNumber": 5041,
                          "subjectType": "PUBLIC",
                          "tlsClientCertificateBoundAccessTokens": false,
                          "tokenAuthMethod": "CLIENT_SECRET_BASIC"
                        }
                      ],
                      "end": 3,
                      "start": 0,
                      "totalCount": 1
                    }
                  },
                  "limited": {
                    "summary": "Example showing limited client view.",
                    "value": {
                      "clients": [
                        {
                          "clientId": 26478243745571,
                          "clientIdAlias": "my-client",
                          "clientIdAliasEnabled": true,
                          "clientName": "My client",
                          "clientType": "CONFIDENTIAL",
                          "number": 6164
                        }
                      ],
                      "end": 3,
                      "start": 0,
                      "totalCount": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_get_list_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/client/get/list?developer=john\\&start=0\\&end=5 \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nString developer = \"john\";\nint start = 0;\nint end = 5;\n\napi.getClientList(developer, start, end);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\ndeveloper = 'john'\nstart = 0\nend = 5\n\napi.getClientList(developer, start, end)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/create": {
      "post": {
        "summary": "Create Client",
        "description": "Create a new client.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              },
              "example": {
                "developer": "john",
                "clientName": "My Client",
                "clientIdAlias": "my-client",
                "clientIdAliasEnabled": true,
                "clientType": "CONFIDENTIAL",
                "applicationType": "WEB",
                "grantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "responseTypes": [
                  "CODE",
                  "TOKEN"
                ],
                "redirectUris": [
                  "https://my-client.example.com/cb1",
                  "https://my-client.example.com/cb2"
                ],
                "tokenAuthMethod": "CLIENT_SECRET_BASIC",
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                },
                "example": {
                  "applicationType": "WEB",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authTimeRequired": false,
                  "bcUserCodeRequired": false,
                  "clientId": 26478243745571,
                  "clientIdAlias": "my-client",
                  "clientIdAliasEnabled": true,
                  "clientName": "My client",
                  "clientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ",
                  "clientType": "CONFIDENTIAL",
                  "createdAt": 1639468356000,
                  "defaultMaxAge": 0,
                  "derivedSectorIdentifier": "my-client.example.com",
                  "developer": "john",
                  "dynamicallyRegistered": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "idTokenSignAlg": "RS256",
                  "modifiedAt": 1639468356000,
                  "number": 6164,
                  "parRequired": false,
                  "redirectUris": [
                    "https://my-client.example.com/cb1",
                    "https://my-client.example.com/cb2"
                  ],
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "responseTypes": [
                    "CODE",
                    "TOKEN"
                  ],
                  "serviceNumber": 5041,
                  "subjectType": "PUBLIC",
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenAuthMethod": "CLIENT_SECRET_BASIC"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_create_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/21653835348762/client/create \\\n-H 'Content-Type:application/json' \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"developer\": \"john\", \"clientName\": \"My Client\", ... }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nClient client = new Client();\nclient.setDeveloper(\"john\");\nclient.setClientName(\"My Client\");\n...\n\napi.createClient(client);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclient = Client()\nclient.developer = 'john'\nclient.clientName = 'My Client'\n...\n\napi.createClient(client)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/update/{clientId}": {
      "post": {
        "summary": "Update Client",
        "description": "Update a client.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "A client ID."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              },
              "example": {
                "applicationType": "WEB",
                "attributes": [
                  {
                    "key": "attribute1-key",
                    "value": "attribute1-value"
                  },
                  {
                    "key": "attribute2-key",
                    "value": "attribute2-value"
                  }
                ],
                "authTimeRequired": false,
                "bcUserCodeRequired": false,
                "clientIdAlias": "my-client",
                "clientIdAliasEnabled": true,
                "clientName": "My updated client",
                "clientType": "CONFIDENTIAL",
                "defaultMaxAge": 0,
                "derivedSectorIdentifier": "my-client.example.com",
                "developer": "john",
                "dynamicallyRegistered": false,
                "frontChannelRequestObjectEncryptionRequired": false,
                "grantTypes": [
                  "AUTHORIZATION_CODE",
                  "REFRESH_TOKEN"
                ],
                "idTokenSignAlg": "RS256",
                "parRequired": false,
                "redirectUris": [
                  "https://my-client.example.com/cb1",
                  "https://my-client.example.com/cb2"
                ],
                "requestObjectEncryptionAlgMatchRequired": false,
                "requestObjectEncryptionEncMatchRequired": false,
                "requestObjectRequired": false,
                "responseTypes": [
                  "CODE",
                  "TOKEN"
                ],
                "subjectType": "PUBLIC",
                "tlsClientCertificateBoundAccessTokens": false,
                "tokenAuthMethod": "CLIENT_SECRET_BASIC"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                },
                "example": {
                  "applicationType": "WEB",
                  "attributes": [
                    {
                      "key": "attribute1-key",
                      "value": "attribute1-value"
                    },
                    {
                      "key": "attribute2-key",
                      "value": "attribute2-value"
                    }
                  ],
                  "authTimeRequired": false,
                  "bcUserCodeRequired": false,
                  "clientId": 26478243745571,
                  "clientIdAlias": "my-client",
                  "clientIdAliasEnabled": true,
                  "clientName": "My updated client",
                  "clientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ",
                  "clientType": "CONFIDENTIAL",
                  "createdAt": 1639468356000,
                  "defaultMaxAge": 0,
                  "derivedSectorIdentifier": "my-client.example.com",
                  "developer": "john",
                  "dynamicallyRegistered": false,
                  "frontChannelRequestObjectEncryptionRequired": false,
                  "grantTypes": [
                    "AUTHORIZATION_CODE",
                    "REFRESH_TOKEN"
                  ],
                  "idTokenSignAlg": "RS256",
                  "modifiedAt": 1639557082764,
                  "number": 6164,
                  "parRequired": false,
                  "redirectUris": [
                    "https://my-client.example.com/cb1",
                    "https://my-client.example.com/cb2"
                  ],
                  "requestObjectEncryptionAlgMatchRequired": false,
                  "requestObjectEncryptionEncMatchRequired": false,
                  "requestObjectRequired": false,
                  "responseTypes": [
                    "CODE",
                    "TOKEN"
                  ],
                  "serviceNumber": 5041,
                  "subjectType": "PUBLIC",
                  "tlsClientCertificateBoundAccessTokens": false,
                  "tokenAuthMethod": "CLIENT_SECRET_BASIC"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_update_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/21653835348762/client/update/26478243745571 \\\n-H 'Content-Type:application/json' \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"clientName\": \"My updated client\", ... }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\n// Get an existing client.\nlong clientId = ...;\nClient client = api.getClient(clientId);\n\n// Update \"client name\".\nclient.setClientName(\"My updated client\");\n\napi.updateClient(client);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\n# Get an existing client.\nclientId = ...\nclient = api.getClient(clientId)\n\n# Update \"client name\".\nclient.clientName = 'My updated client'\n\napi.updatedClient(client)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/delete/{clientId}": {
      "delete": {
        "summary": "Delete Client ⚡",
        "description": "Delete a client.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The client ID."
          }
        ],
        "responses": {
          "204": {
            "description": "The client was successfully deleted."
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_delete_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/delete/26478243745571 \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong clientId = ...;\n\napi.deleteClient(clientId);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientId = ...\n\napi.deleteClient(clientId)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/lock_flag/update/{clientIdentifier}": {
      "post": {
        "summary": "Update Client Lock",
        "description": "Lock and unlock a client\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientIdentifier",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "A client ID."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientLocked"
                ],
                "properties": {
                  "clientLocked": {
                    "type": "boolean",
                    "description": "The flag value to be set\n"
                  }
                }
              },
              "example": {
                "clientLocked": true
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/paths/~1api~1%7BserviceId%7D~1client~1lock_flag~1update~1%7BclientIdentifier%7D/post/requestBody/content/application~1json/schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "resultCode",
                    "resultMessage"
                  ],
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "The code which represents the result of the API call."
                    },
                    "resultMessage": {
                      "type": "string",
                      "description": "A short message which explains the result of the API call."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_flag_update_api",
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/secret/refresh/{clientIdentifier}": {
      "get": {
        "summary": "Rotate Client Secret",
        "description": "Refresh the client secret of a client. A new value of the client secret will be generated by the\nAuthlete server.\n\nIf you want to specify a new value, use `/api/client/secret/update` API.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientIdentifier",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The client ID or the client ID alias of a client.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "The code which represents the result of the API call."
                    },
                    "resultMessage": {
                      "type": "string",
                      "description": "A short message which explains the result of the API call."
                    },
                    "newClientSecret": {
                      "type": "string",
                      "description": "The new client secret.\n"
                    },
                    "oldClientSecret": {
                      "type": "string",
                      "description": "The old client secret.\n"
                    }
                  }
                },
                "example": {
                  "resultCode": "A148001",
                  "resultMessage": "[A148001] Successfully refreshed the client secret of the client (ID = 26478243745571).",
                  "newClientSecret": "6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA",
                  "oldClientSecret": "gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_secret_refresh_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/client/secret/refresh/26478243745571 \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nString clientIdentifier = ...;\n\napi.refreshClientSecret(clientIdentifier);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientIdentifier = ...\n\napi.refreshClientSecret(clientIdentifier)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/secret/update/{clientIdentifier}": {
      "post": {
        "summary": "Update Client Secret",
        "description": "Update the client secret of a client.\n\nIf you want to have the Authlete server generate a new value of the client secret, use `/api/client/secret/refresh`\nAPI.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientIdentifier",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The client ID or the client ID alias of a client.\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientSecret"
                ],
                "properties": {
                  "clientSecret": {
                    "type": "string",
                    "description": "The new value of the client secret. Valid characters for a client secret are `A-Z`, `a-z`, `0-9`,\n`-`, and `_`. The maximum length of a client secret is 86.\n"
                  }
                }
              },
              "example": {
                "clientSecret": "my_updated_client_secret"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/paths/~1api~1%7BserviceId%7D~1client~1secret~1update~1%7BclientIdentifier%7D/post/requestBody/content/application~1json/schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "The code which represents the result of the API call."
                    },
                    "resultMessage": {
                      "type": "string",
                      "description": "A short message which explains the result of the API call."
                    },
                    "newClientSecret": {
                      "type": "string",
                      "description": "The new client secret.\n"
                    },
                    "oldClientSecret": {
                      "type": "string",
                      "description": "The old client secret.\n"
                    }
                  }
                },
                "example": {
                  "resultCode": "A149001",
                  "resultMessage": "[A149001] Successfully updated the client secret of the client (ID = 26478243745571).",
                  "newClientSecret": "my_updated_client_secret",
                  "oldClientSecret": "6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_secret_update_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/21653835348762/client/secret/update/26478243745571 \\\n-H 'Content-Type:application/json' \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"clientSecret\": \"...\" }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nString clientIdentifier = ...;\nString clientSecret = \"my_updated_client_secret\";\n\napi.updateClientSecret(clientIdentifier, clientSecret);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientIdentifier = ...\nclientSecret = 'my_new_client_secret'\n\napi.updateClientSecret(clientIdentifier, clientSecret)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/authorization/get/list": {
      "get": {
        "summary": "Get Authorized Applications",
        "description": "Get a list of client applications that an end-user has authorized.\n\nThe subject parameter is required and can be provided either in the path or as a query parameter.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "subject",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Unique user ID of an end-user.\n"
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Unique user ID of an end-user.\n"
          },
          {
            "in": "query",
            "name": "developer",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Unique ID of a client developer.\n"
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "Start index of search results (inclusive). The default value is 0."
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false,
            "description": "End index of search results (exclusive). The default value is 5.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Start index of search results (inclusive).\n"
                    },
                    "end": {
                      "type": "integer",
                      "format": "int32",
                      "description": "End index of search results (exclusive).\n"
                    },
                    "developer": {
                      "type": "string",
                      "description": "Unique ID of a client developer.\n"
                    },
                    "subject": {
                      "type": "string",
                      "description": "Unique user ID of an end-user.\n"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Unique ID of a client developer.\n"
                    },
                    "clients": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1api~1%7BserviceId%7D~1auth~1token~1get~1list/get/responses/200/content/application~1json/schema/properties/client"
                      },
                      "description": "An array of clients.\n"
                    }
                  }
                },
                "example": {
                  "clients": [
                    {
                      "clientId": 26478243745571,
                      "clientIdAlias": "my-client",
                      "clientIdAliasEnabled": true,
                      "clientName": "My client",
                      "clientType": "CONFIDENTIAL",
                      "number": 6164
                    }
                  ],
                  "end": 5,
                  "start": 0,
                  "subject": "john",
                  "totalCount": 1
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_authorization_get_list_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v https://us.authlete.com/api/client/authorization/get/list/john?start=0\\&end=5 \\\n-u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nClientAuthorizationGetListRequest req = new ClientAuthorizationGetListRequest();\nreq.setSubject(\"john\");\nreq.setStart(0);\nreq.setEnd(5);\n\napi.getClientAuthorizationList(req);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nreq = ClientAuthorizationGetListRequest()\nreq.subject = 'john'\nreq.start = 0\nreq.end = 5\n\napi.getClientAuthorizationList(req)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/authorization/update/{clientId}": {
      "post": {
        "summary": "Update Client Tokens",
        "description": "Update attributes of all existing access tokens given to a client application.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "A client ID.\n"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject"
                ],
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "The subject (= unique identifier) of the end-user who has granted authorization to the client\napplication.\n"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of new scopes. Optional. If a non-null value is given, the new scopes are set to all\nexisting access tokens. If an API call is made using `\"Content-Type: application/x-www-form-urlencoded\"`,\nscope names listed in this request parameter should be delimited by spaces (after form encoding,\nspaces are converted to `+`).\n"
                  }
                }
              },
              "example": {
                "subject": "john",
                "scopes": [
                  "history.read"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/paths/~1api~1%7BserviceId%7D~1client~1authorization~1update~1%7BclientId%7D/post/requestBody/content/application~1json/schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "The code which represents the result of the API call."
                    },
                    "resultMessage": {
                      "type": "string",
                      "description": "A short message which explains the result of the API call."
                    }
                  }
                },
                "example": {
                  "resultCode": "A138001",
                  "resultMessage": "[A138001] Updated 1 access token(s) issued to the client (ID = 26478243745571) of the service (API Key = 21653835348762)."
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_authorization_update_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
            "source": "curl -v -X POST https://us.authlete.com/api/21653835348762/client/authorization/update/26478243745571 \\\n-H 'Content-Type:application/json' \\\n-u 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \\\n-d '{ \"subject\": \"john\", \"scopes\": [ \"history.read\" ] }'\n"
          },
          {
            "lang": "java",
            "label": "java",
            "source": "AuthleteConfiguration conf = ...;\nAuthleteApi api = AuthleteApiFactory.create(conf);\n\nlong clientId = ...;\n\nClientAuthorizationUpdateRequest req = new ClientAuthorizationUpdateRequest();\nreq.setSubject(\"john\");\nreq.setScopes(new String[]{ \"history.read\" });\n\napi.updateClientAuthorization(clientId, req);\n"
          },
          {
            "lang": "python",
            "source": "conf = ...\napi = AuthleteApiImpl(conf)\n\nclientId = ...\n\nreq = ClientAuthorizationUpdateRequest()\nreq.subject = 'john'\nreq.scopes = [ 'history.read' ]\n\napi.updateClientAuthorization(clientId, req)\n"
          }
        ],
        "tags": [
          "Client Management"
        ]
      }
    },
    "/api/{serviceId}/client/authorization/delete/{clientId}": {
      "delete": {
        "summary": "Delete Client Tokens",
        "description": "Delete all existing access tokens issued to a client application by an end-user.\n\nThe subject parameter is required and can be provided either in the path or as a query parameter.\n",
        "parameters": [
          {
            "in": "path",
            "name": "serviceId",
            "description": "A service ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "clientId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "A client ID.\n"
          },
          {
            "in": "path",
            "name": "subject",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Unique user ID of an end-user.\n"
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Unique user ID of an end-user.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1%7BserviceId%7D~1client~1granted_scopes~1get~1%7BclientId%7D/get/responses/200/content/application~1json/schema"
                },
                "example": {
                  "resultCode": "A137001",
                  "resultMessage": "[A137001] Deleted 3 access token(s) issued to the client (ID = 26478243745571) of the service (API Key = 21653835348762)."
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1api~1info/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1api~1info/get/responses/401"
          },
          "403": {
            "$ref": "#/paths/~1api~1info/get/responses/403"
          },
          "500": {
            "$ref": "#/paths/~1api~1info/get/responses/500"
          }
        },
        "operationId": "client_authorization_delete_api",
        "x-code-samples": [
          {
            "lang": "shell",
            "label": "curl",
[...]
